body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
}

/* navbar */
nav {
    height: calc(100vh - 70px);
    min-width: 200px;
    background-color: black;
    padding: 20px 20px 5px 20px;
    color: #a3a3a3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

nav #nav-top #logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav #nav-top #logo img {
    width: 35px;
    filter: invert(100%);
}

nav #nav-top #logo div {
    display: flex;
    gap: 0.2em;
    color: white;
}

nav #nav-top #logo div h1 {
    font-size: 2em;
}

nav #nav-top #logo div div {
    font-size: 0.7em;
}

nav #nav-top #nav-menu {
    padding: 18px 0;
}

nav #nav-top #nav-menu .menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 0;
    color: #a3a3a3;
    text-decoration: none;
}

nav #nav-top #nav-menu .menu-item img {
    width: 25px;
}

/* sezione playlist */
nav #nav-top #playlist #new-playlist {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    text-decoration: none;
    color: #a3a3a3;
}

nav #nav-top #playlist #new-playlist #add {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: black;
    background-color: #a3a3a3;
}

nav #nav-top #playlist .single-playlist {
    padding-top: 7px;
}

nav #nav-top #playlist .single-playlist a {
    text-decoration: none;
    color: #a3a3a3;
}


/* navbar bottom */

nav #nav-bottom #download {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #a3a3a3;
}

nav #nav-bottom #download img {
    width: 15px;
}

nav #nav-bottom hr {
    margin: 7px 0;
    border-color: #a3a3a3;
}

nav #nav-bottom #profile {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

nav #nav-bottom #profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

nav #nav-bottom #profile div {
    color: #a3a3a3;
}

main {
    height: calc(100vh - 70px);
    width: 100%;
    /* position: relative; */
    background-color: #141922;
    overflow-y: auto;
    position: relative;
}

main #top {
    height: 65px;
    width: calc(100% - 200px);
    background-color: black;
    opacity:0.5;
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
}

main #top button {
    padding: 7px 25px;
    margin-right: 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
}


#inside {
    padding-top: 85px;
    padding-left: 1em;
    padding-right: 1em;
}

#inside h2 {
    color: white;
}

#inside #main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #a3a3a3;
    gap: 15px; 
}

#inside .container-section {
    padding: 20px 0;
}

#inside .container-section h2 {
    font-size: 1.7em;
}

#inside .container-section p {
    color: #a3a3a3;
}

#inside .container-section .container-card {
    display: flex;
    gap: 0.7em;
    padding-top: 2em;
}

#inside .container-section .container-card .card {
    width: 16%;
    max-width: 250px;
    text-align: center;
    color: #a3a3a3;

}

#inside .container-section .container-card .card img {
    width: 100%;
}

#inside .container-section .container-card .card h3 {
    padding: 5px 0 3px 0;
    color: white;
}

#inside #last-section img{
    border-radius: 50%;
}

/* footer */
footer {
    height: 70px;
    width: 100%;
    padding: 0 20px;
    background-color: #282828;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer left */
footer #footer-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

footer #footer-left #track {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer #footer-left #track img {
    width: 50px;
}

footer #footer-left #track a {
    text-decoration: none;
    color: #a3a3a3;
}

footer #footer-left #save {
    display: flex;
    gap: 10px;
}

footer #footer-left #save a {
    text-decoration: none;
    color: #a3a3a3;
}

/* footer center */
footer #footer-center #player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer #footer-center #player a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}

footer #footer-center #player a:nth-of-type(3) {
    font-size: 2.5em;
}

footer #footer-center #time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer #footer-center #time .seconds {
    color: white;
}

footer #footer-center #time #time-line {
    position: relative;
}

footer #footer-center #time #time-line div:first-child {
    height: 3px;
    width: 300px;
    background-color: #a3a3a3;
    border-radius: 3px;
    position: relative;
}

footer #footer-center #time #time-line div:last-child {
    height: 3px;
    width: 100px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    top: 0;
}


/* footer right */
footer #footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer #footer-right a {
    color: white;
}

footer #footer-right #volume-line {
    position: relative;
}

footer #footer-right #volume-line div:first-child {
    height: 3px;
    width: 90px;
    border-radius: 3px;
    background-color:#a3a3a3;
}

footer #footer-right #volume-line div:last-child {
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    top: 0;
}

/* -----------------------------------------------
RESPONSIVE
----------------------------------------------- */
/* medium device */
@media screen and (max-width:992px) {

    #inside .container-section .container-card {
        flex-wrap: wrap;
    }

    #inside .container-section .container-card .card {
        width: 20%;
    }

    footer #footer-center #time #time-line div:first-child {
        width: 250px;
    }
}
/* small device */
@media screen and (max-width:768px) {

    #inside .container-section .container-card .card {
        width: 48%;
    }

    footer #footer-left {
        gap: 10px;
    }

    footer #footer-left #save {
        gap: 2px;
        flex-direction: column;
    }

    footer #footer-center #time #time-line div:first-child {
        width: 150px;
    }
}


/* x-small device */
@media screen and (max-width:576px) {

    nav {
        min-width: auto;
        padding: 10px 10px 5px 10px;
    }

    nav #nav-top #logo img {
        width: 25px;
    }

    nav #nav-top #logo div {
        display: none;
    }

    nav #nav-top #nav-menu .menu-item div {
        display: none;
    }

    nav #playlist {
        display: none;
    }

    nav #nav-bottom #download img {
        margin: 0 auto;
    }

    nav #nav-bottom #download div {
        display: none;
    }

    nav #nav-bottom hr {
        display: none;
    }

    nav #nav-bottom #profile div {
        display: none;
    }

    main #top {
        width: calc(100% - 47px);
    }

    footer #footer-left {
        gap: 5px;
    }

    footer #footer-center #time #time-line div:first-child {
        width: 100px;
    }
}
