body {
    font-family: 'Montserrat', sans-serif;
}

/* srollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track { 
    background: #fafafa;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #c8c8c8; 
    border-radius: 10px;
    border: 2px solid #fafafa;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #1fdf64; */
    background: #141922;
}
/* /srollbar */


#container {
    display: flex;
    flex-direction: row;
}

/* navbar */
nav {
    height: calc(100vh - 70px);
    min-width: 200px;
    background-color: black;
    padding: 20px 20px 5px 20px;
    color: #a3a3a3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

nav::-webkit-scrollbar {
    display: none;
}

nav #nav-top #logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav #nav-top #logo img {
    width: 35px;
    filter: invert(100%);
}

nav #nav-top #logo div {
    display: flex;
    gap: 0.2em;
    color: white;
}

nav #nav-top #logo div h1 {
    font-size: 2em;
}

nav #nav-top #logo div div {
    font-size: 0.7em;
}

nav #nav-top #nav-menu {
    padding: 18px 0;
}

nav #nav-top #nav-menu .menu-item,
nav #nav-top #nav-menu .menu-item:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 0;
    color: #a3a3a3;
    text-decoration: none;
}

nav #nav-top #nav-menu .menu-item #green-line {
    position: relative;
}

nav #nav-top #nav-menu .menu-item #green-line div {
    width: 100%;
    height: 2.5px;
    background-color: #1fdf64;
    position: absolute;
    left: -31px;
    top: 10px;
    transform: rotate(90deg)
}

nav #nav-top #nav-menu .menu-item img {
    width: 25px;
}

nav #nav-top #nav-menu .menu-item:first-child div{
    color: white;
}


/* hover */
nav #nav-top #nav-menu .menu-item:hover {
    color: white;
}
/* /hover */


/* sezione playlist */

nav #nav-top #playlist h4 {
    color: white;
}

nav #nav-top #playlist #new-playlist {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    text-decoration: none;
    color: #a3a3a3;
}

nav #nav-top #playlist #new-playlist #add {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: black;
    background-color: #a3a3a3;
}

nav #nav-top #playlist .single-playlist {
    padding-top: 10px;
}

nav #nav-top #playlist .single-playlist a {
    text-decoration: none;
    color: #a3a3a3;
}

/* hover */
nav #nav-top #playlist #new-playlist:hover {
    color: white;
}

nav #nav-top #playlist #new-playlist:hover #add {
    background-color: white;
}

nav #nav-top #playlist .single-playlist:hover a{
    color: white;
}
/* /hover */
/* /sezione playlist */


/* navbar bottom */
nav #nav-bottom {
    padding-top: 2em;
}

nav #nav-bottom #download {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #a3a3a3;
}

nav #nav-bottom #download img {
    width: 15px;
}

nav #nav-bottom hr {
    margin: 7px 0;
    border-color: #a3a3a3;
}

nav #nav-bottom #profile {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

nav #nav-bottom #profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

nav #nav-bottom #profile div {
    color: white;
}

/* hover */
nav #nav-bottom #download:hover {
    color: white;
}
/* /hover */
/* /navbar bottom */
/* navbar */


/* main */

main {
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #141922;
    overflow-y: auto;
}

/* scrollbar */
/* /scrollbar */


/* top opacity */
main #top {
    height: 65px;
    width: calc(100% - 200px);
    background-color: black;
    opacity:0.5;
    position: fixed;
    z-index: 1;
}

main button {
    padding: 7px 25px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    position: fixed;
    top: calc(65px / 2 - 7px * 2);
    right: 25px;
    z-index: 1;
}
/* hover */
main button:hover {
    font-size: 0.9em;
    right: 15px;
}
/* /hover */
/* /top opacity */


#inside {
    padding-top: 85px;
    padding-left: 1em;
    padding-right: 1em;
}

#inside h2 {
    color: white;
}

/* main menu */
#inside #main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    color: #a3a3a3;
    gap: 15px; 
}

#inside #main-menu a {
    text-decoration: none;
    color: #a3a3a3;
}

#inside #main-menu a hr{
    margin: 3px auto 0 auto;
    width: 40%;
    color: #1fdf64; 
}
/* hover */
#inside #main-menu a:hover {
    color: white;
}
/* /hover */
/* /main menu */


#inside .container-section {
    padding: 20px 0;
}

#inside .container-section h2 {
    font-size: 1.7em;
}

#inside .container-section p {
    color: #a3a3a3;
    padding-top: 1em;
}

#inside .container-section .container-card {
    display: flex;
    align-items: stretch;
    gap: 0.7em;
    padding-top: 2em;
}


#inside .container-section .container-card .card {
    width: calc(100% / 6 - (0.7em / 6 * 5));
    text-align: center;
    color: #a3a3a3;
    text-decoration: none;
    padding-bottom: 1.5em;
}

#inside .container-section .container-card .card .hover-card {
    width: 100%;
    position: relative;
}

#inside .container-section .container-card .card img {
    width: 100%;
    display: block;
}

#inside .container-section .container-card .card h3 {
    padding: 1em 0 0.5em 0;
    color: white;
}

#inside #last-section img{
    border-radius: 50%;
}

/* hover */
.card .hover-card .play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: white;
    display: none;
}

#last-section .card .hover-card .play {
    border-radius: 50%;
}

.card:hover .hover-card .play {
    display: flex;
}
/* hover */
/* /main */


/* footer */
footer {
    height: 70px;
    width: 100%;
    padding: 0 20px;
    background-color: #282828;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer left */
footer #footer-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer #footer-left #track {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer #footer-left #track a div:first-child {
    color: white;
}

footer #footer-left #track img {
    width: 40px;
}

footer #footer-left #track a {
    text-decoration: none;
    color: #a3a3a3;
}

footer #footer-left #save {
    display: flex;
    gap: 10px;
}

footer #footer-left #save a {
    text-decoration: none;
    color: #a3a3a3;
}

/* hover */
footer #footer-left #track a div:last-child:hover {
    text-decoration: underline;
    color: white;
}

footer #footer-left #save a:hover{
    color: white;
}
/* /hover */
/* /footer left */



/* footer center */
footer #footer-center {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer #footer-center #player {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 15px;
}

footer #footer-center #player a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}

footer #footer-center #player a:nth-of-type(3) {
    font-size: 2em;
}

footer #footer-center #time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer #footer-center #time .seconds {
    color: white;
}

footer #footer-center #time #time-line div {
    height: 3px;
    width: 400px;
    background-color: #a3a3a3;
    border-radius: 3px;
    position: relative;
}

footer #footer-center #time #time-line div div {
    height: 3px;
    width: 30%;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    display: flex;
    justify-content:end;
    align-items: center;
}

footer #footer-center #time #time-line div div .point {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin-right: -4.5px;
    display: none;
}

/* hover */
footer #footer-center #player a:nth-of-type(3):hover {
    font-size: 2.3em;
    margin:-2px -1.8px;
}

footer #footer-center #time #time-line:hover div div {
    background-color: #1fdf64;
}

footer #footer-center #time #time-line:hover div div .point {
    display: block;
    background-color: white;
}
/* /hover */
/* /footer center */


/* footer right */
footer #footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer #footer-right a {
    color: white;
}

footer #footer-right #volume-line {
    position: relative;
}

footer #footer-right #volume-line div {
    height: 3px;
    width: 90px;
    border-radius: 3px;
    background-color:#a3a3a3;
    position: relative;
}

footer #footer-right #volume-line div div {
    height: 3px;
    width: 40%;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
}

footer #footer-right #volume-line div div .point {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin-right: -4.5px;
    background-color: white;
    display: none;
}

/* hover */
footer #footer-right #volume-line:hover div div {
    background-color: #1fdf64;
}

footer #footer-right #volume-line:hover div div .point {
    display: block;
    background-color: white;
}
/* /hover */

/* /footer right */



/* -----------------------------------------------
RESPONSIVE
----------------------------------------------- */

/* medium device */
@media screen and (max-width:992px) {

    #inside .container-section .container-card {
        flex-wrap: wrap;
    }

    #inside .container-section .container-card .card {
        width: calc(100% / 4 - (0.7em / 4 * 3));
    }

    footer #footer-center #time #time-line div {
        width: 250px;
    }
}


/* small device */
@media screen and (max-width:768px) {

    #inside .container-section .container-card {
        gap: 1em;
    }

    #inside .container-section .container-card .card {
        width: calc(100% / 2 - (1em / 2));
    }

    footer #footer-left {
        gap: 10px;
    }

    footer #footer-left #save {
        gap: 2px;
        flex-direction: column;
    }

    footer #footer-center #time #time-line div {
        width: 150px;
    }

    footer #footer-right #volume-line div {
        height: 3px;
        width: 75px;
    }
}


/* x-small device */
@media screen and (max-width:576px) {

    nav {
        min-width: 50px;
        padding: 10px 10px 5px 10px;
    }

    nav #nav-top #logo img {
        width: 25px;
    }

    nav #nav-top #logo div {
        display: none;
    }

    nav #nav-top #nav-menu .menu-item div {
        display: none;
    }

    nav #nav-top #nav-menu .menu-item #green-line {
        display: block;
    }

    nav #nav-top #nav-menu .menu-item #green-line div {
        display: block;
        left: -21px;
        top: 10px;
    }

    nav #playlist {
        display: none;
    }

    nav #nav-bottom #download img {
        margin: 0 auto;
        padding-bottom: 14.5px;
    }

    nav #nav-bottom #download div {
        display: none;
    }

    nav #nav-bottom hr {
        display: none;
    }

    nav #nav-bottom #profile div {
        display: none;
    }

    main #top {
        width: calc(100% - 47px);
    }

    footer {
        padding: 0 5px;
    }

    footer #footer-left {
        gap: 6px;
    }

    footer #footer-left #track {
        gap: 5px;
    }

    footer #footer-left #track img {
        width: 35px;
    }

    footer #footer-center #time #time-line div {
        width: 130px;
    }

    footer #footer-right #volume-line div {
        height: 3px;
        width: 60px;
    }
}
